<!DOCTYPE html>
<html>
  <head>
    <title>Welcome, <%=userData.name%></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css" />
  </head>
  <body>
    <nav class="navbar bg-body-tertiary navbar1">
      <div class="container-fluid">
        <span
          class="navbar-brand mb-0 h1"
          style="
            color: white;
            padding: 0.8rem !important;
            font-size: 30px;
            font-family: 'Berkshire Swash', cursive;
          "
          >iNote <i class="fa-duotone fa-file-pen"></i>
        </span>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="jumbotron">
        <h1 id="welcome" class="display-4" email='<%=userData.email%>'>Welcome, <%= userData.name %>!</h1>
      </div>
      <button id="Logout" class="btn btn-danger mt-3" onclick="signOut()">
        Logout &nbsp;<i class="fa-duotone fa-right-from-bracket"></i>
      </button>
      <div
        id="err"
        class="alert alert-danger my-3"
        role="alert"
        style="display: none"
      >
        User Logged out .. Redirecting you to Login Page !!
      </div>
      <hr />
      <div class="cotainer-sm text-end me-3">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa-duotone fa-file-plus"></i>&nbsp; Add New Note
        </button>
      </div>
      <div class="container-sm">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <% if (userNotes.length === 0 || userNotes===null) { %>
          <div class="col mt-4">
            <p>No Notes added yet. Please add one !</p>
          </div>
          <% } else { %> <% userNotes.forEach(function(note) { %>
          <div class="col mt-4">
            <div class="card col d-flex flex-column h-100">
              <div class="card-body">
                <h5 class="card-title"><%= note.title %></h5>
                <h6 class="card-subtitle text-muted"><%=note.time%></h6>
                <hr style="height: 2px; margin: 0.3rem 0" />
                <p class="card-text"><%= note.content %></p>
                <div class="edit-delete-icons">
                  <a
                    onclick="openShareModal('<%= note.title %>', '<%= note.content %>')"
                  >
                    <i
                      class="fa-duotone fa-share-from-square"
                      title="Share Note"
                      style="color: blue"
                    ></i>
                  </a>
                  <a
                    class="edit-icon"
                    onclick="openEditModal('<%= note._id %>', '<%= note.title %>', '<%= note.content %>')"
                  >
                    <i
                      class="fas fa-edit"
                      title="Edit Note"
                      style="color: grey"
                    ></i>
                  </a>
                  <a class="delete-icon" data-note-id="<%= note._id %>">
                    <i
                      class="fas fa-trash"
                      title="Delete Note"
                      style="color: red"
                    ></i
                  ></a>
                </div>
                <div class="text-end" style="font-size: 0.8rem;">
                  <% if(note.sharedBy!=''){ %>
                    <i class="fa-solid fa-share-nodes"></i>&nbsp;
                    Shared By : <%= note.sharedBy %>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }); %> <% } %>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade newNote"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Note</h1>
            <button
              type="button"
              class="btn-close"
              id="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form onsubmit="return false">
            <div class="modal-body">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label"
                  >Note Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="note-title"
                  name="formGroupExampleInput"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="floatingTextarea2" class="form-label"
                  >Content</label
                >
                <textarea
                  class="form-control"
                  name="floatingTextarea2"
                  id="note-content"
                  style="height: 100px"
                  required
                ></textarea>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="button" class="btn btn-primary" onclick="onAdd()">
              Add Note
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="liveToast-1"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="me-auto">iNote</strong>
          <small>Just Now</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body" id="toast-content"></div>
      </div>
    </div>
    <!-- Edit Note Modal -->
    <div
      class="modal fade"
      id="editNoteModal"
      tabindex="-1"
      aria-labelledby="editNoteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editNoteModalLabel">Edit Note</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form onsubmit="return false" id="editNoteForm">
            <div class="modal-body">
              <div class="mb-3">
                <label for="editNoteTitle" class="form-label">Note Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="editNoteTitle"
                  name="editNoteTitle"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="editNoteContent" class="form-label">Content</label>
                <textarea
                  class="form-control"
                  id="editNoteContent"
                  name="editNoteContent"
                  style="height: 100px"
                  required
                ></textarea>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="button" class="btn btn-primary" onclick="onEdit()">
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Share Modal -->
    <div
      class="modal fade"
      id="shareModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Share Note</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <label class="form-label">Share to</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter the email"
              id="share-id"
              required
            />
            <div
        id="share-err"
        class="alert alert-danger my-3"
        role="alert"
        style="display: none"
      >
        User Not Found
      </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="share-btn">
              Share
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- delete toast -->

    <div class="toast position-absolute top-50 start-50 translate-middle" id="delToast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body" >
        Are you sure want to delete the note?
        <div class="mt-2 pt-2 border-top">
          <button type="button" id="confirm-del" class="btn btn-danger btn-sm">Yes</button>
          <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="toast">No</button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="homepage.js"></script>
  </body>
</html>
